[submodule "public/Images"]
	path = public/Images
	url = https://github.com/GoyoStach/Obsidian-Images.git
	branch = main
[submodule "src/content/blogPost"]
	path = src/content/blogPost
	url = https://github.com/GoyoStach/Obsidian-Posts.git
