[submodule "src/content/blogPost"]
	path = src/content/blogPost
	url = https://github.com/GoyoStach/Obsidian-Posts.git
	branch=main
[submodule "src/Images"]
	path = src/Images
	url = https://github.com/GoyoStach/Obsidian-Images.git
