---
import { MY_SITE } from '../config'
const today = new Date()

---


<footer class="text-expresso-400 p-4 text-center gap-2 flex flex-col">
  <div>
    &copy; {today.getFullYear()}
    <a href={MY_SITE}> - Guillaume EXCOFFIER.</a> All rights reserved.
  </div>
</footer>

