---
import HeaderLink from './HeaderLink.astro'
import { MY_SITE, SITE_TITLE } from '../config'
import { IoLogoGithub } from 'react-icons/io5/index.js'
import ThemeToggle from '../components/ThemeToggleButton'
import DropdownMenu from './DropdownMenu';
import { getCollection } from 'astro:content';

const allPosts = Array.from((await getCollection('blogPost')))
const allTags = new Set<string>()
allPosts.map(post => {
  post.data.tags &&
    post.data.tags.map((tag: string) => allTags.add(tag))
})



---



<header class="fixed w-full p-2 z-20 backdrop-blur-md">
  <div class="mx-auto">
    <nav class="flex items-center gap-6 text-base justify-center">
      <a href="/">
        <h2
          class="font-semibold tracking-tighter p-2 font-silkScreen text-lg text-expresso-200"
        >
          {SITE_TITLE}
        </h2>
      </a>
      <div class="items-center gap-6 hidden md:flex text-expresso-400 dark:text-expresso-100">
        <HeaderLink href={MY_SITE}>Other Projects</HeaderLink>
        <HeaderLink href="https://github.com/GoyoStach" target="_blank"
          ><IoLogoGithub />My Github
        </HeaderLink>
      </div>
      <div class="flex items-center gap-6 ">
        <ThemeToggle client:visible />
        <DropdownMenu client:visible tags={Array.from(allTags)}/>
      </div>
    </nav>
  </div>
</header>

