<section class="relative mb-6 h-80 flex justify-center items-center">
  <div class="z-10 text-center px-8 drop-shadow-lg shadow-black">
    <div class="uppercase text-sm mb-4 text-expresso-300">Welcome to</div>
    <div class="text-4xl font-silkScreen font-medium text-expresso-200">
      My Zettlekasten
    </div>
  </div>
</section>
